{% load staticfiles %}
<div id='message' style='font-size: 30px; margin: 30px;'>
  Time to play!
</div>

<div id='board' style='position: relative;'>
  <img src="{% static "images/board.png" %}" alt = "board image"/>  
  <a href='{{ url_list.0 }}'>
    <div id='c0' style='position: absolute; top: 0px; left: 0px; width: 150px; height:150px;'>
      {% if moves.c0 == 1 %}
      <img src="{% static "images/x.png" %}" alt = "x image"/>  
      {% elif moves.c0 == -1 %}
      <img src="{% static "images/o.png" %}" alt = "o image"/>  
      {% endif %}
    </div>
  </a>
  <a href='{{ url_list.1 }}'>
    <div id='top-center' style='position: absolute; top: 0px; left: 150px; width: 150px; height:150px;'>
    {{ top_center }}
      {% if moves.c1 == 1 %}
      <img src="{% static "images/x.png" %}" alt = "x image"/>  
      {% elif moves.c1 == -1 %}
      <img src="{% static "images/o.png" %}" alt = "o image"/>  
      {% endif %}
    </div>
  </a>
  <a href='{{ url_list.2 }}'>
    <div id='top-right' style='position: absolute; top: 0px; left: 300px; width: 150px; height:150px;'>
    {{ top_right }}
      {% if moves.c2 == 1 %}
      <img src="{% static "images/x.png" %}" alt = "x image"/>  
      {% elif moves.c2 == -1 %}
      <img src="{% static "images/o.png" %}" alt = "o image"/>  
      {% endif %}
    </div>
  </a>
  <a href='{{ url_list.3 }}'>
    <div id='center-left' style='position: absolute; top: 150px; left: 0px; width: 150px; height:150px;'>
    {{ center_left }}
      {% if moves.c3 == 1 %}
      <img src="{% static "images/x.png" %}" alt = "x image"/>  
      {% elif moves.c3 == -1 %}
      <img src="{% static "images/o.png" %}" alt = "o image"/>  
      {% endif %}
    </div>
  </a>
  <a href='{{ url_list.4 }}'>
    <div id='center-center' style='position: absolute; top: 150px; left: 150px; width: 150px; height:150px;'>
    {{ center_center }}
      {% if moves.c4 == 1 %}
      <img src="{% static "images/x.png" %}" alt = "x image"/>  
      {% elif moves.c4 == -1 %}
      <img src="{% static "images/o.png" %}" alt = "o image"/>  
      {% endif %}
    </div>
  </a>
  <a href='{{ url_list.5 }}'>
    <div id='center-right' style='position: absolute; top: 150px; left: 300px; width: 150px; height:150px;'>
    {{ center_right }}
      {% if moves.c5 == 1 %}
      <img src="{% static "images/x.png" %}" alt = "x image"/>  
      {% elif moves.c5 == -1 %}
      <img src="{% static "images/o.png" %}" alt = "o image"/>  
      {% endif %}
    </div>
  </a>
  <a href='{{ url_list.6 }}'>
    <div id='bottom-left' style='position: absolute; top: 300px; left: 0px; width: 150px; height:150px;'>
    {{ bottom_left }}
      {% if moves.c6 == 1 %}
      <img src="{% static "images/x.png" %}" alt = "x image"/>  
      {% elif moves.c6 == -1 %}
      <img src="{% static "images/o.png" %}" alt = "o image"/>  
      {% endif %}
    </div>
  </a>
  <a href='{{ url_list.7 }}'>
    <div id='bottom-center' style='position: absolute; top: 300px; left: 150px; width: 150px; height:150px;'>
    {{ bottom_center }}
      {% if moves.c7 == 1 %}
      <img src="{% static "images/x.png" %}" alt = "x image"/>  
      {% elif moves.c7 == -1 %}
      <img src="{% static "images/o.png" %}" alt = "o image"/>  
      {% endif %}
    </div>
  </a>
  <a href='{{ url_list.8 }}'>
    <div id='bottom-right' style='position: absolute; top: 300px; left: 300px; width: 150px; height:150px;'>
    {{ bottom_right }}
      {% if moves.c8 == 1 %}
      <img src="{% static "images/x.png" %}" alt = "x image"/>  
      {% elif moves.c8 == -1 %}
      <img src="{% static "images/o.png" %}" alt = "o image"/>  
      {% endif %}
    </div>
  </a>
</div>
