{% load staticfiles %}
<div id='message' style='font-size: 30px; font-family: "Comic Sans MS"; color: green; margin: 30px;'>
  {% if win == True %}
  Awwww, you didn't win :(
  {% else %}
  Time to play! {{ win }}
  {% endif %}
</div>

<div id='board' style='position: relative; width: 450px; height: 450px;'>
  <img src="{% static "images/board.png" %}" alt = "board image"/>  
  {% if not win and moves.c0 != -1 %}<a href='{{ url_list.0 }}'>{% endif %}
    <div id='c0' style='position: absolute; top: 0px; left: 0px; width: 150px; height:150px;'>
      {% if moves.c0 == 1 %}
      <img src="{% static "images/x.png" %}" alt = "x image"/>  
      {% elif moves.c0 == -1 %}
      <img src="{% static "images/o.png" %}" alt = "o image"/>  
      {% endif %}
    </div>
  {% if not win and moves.c0 != -1 %}</a>{% endif %}
  {% if not win and moves.c1 != -1 %}<a href='{{ url_list.1 }}'>{% endif %}
    <div id='top-center' style='position: absolute; top: 0px; left: 150px; width: 150px; height:150px;'>
    {{ top_center }}
      {% if moves.c1 == 1 %}
      <img src="{% static "images/x.png" %}" alt = "x image"/>  
      {% elif moves.c1 == -1 %}
      <img src="{% static "images/o.png" %}" alt = "o image"/>  
      {% endif %}
    </div>
  {% if not win and moves.c1 != -1 %}</a>{% endif %}
  {% if not win and moves.c2 != -1 %}<a href='{{ url_list.2 }}'>{% endif %}
    <div id='top-right' style='position: absolute; top: 0px; left: 300px; width: 150px; height:150px;'>
    {{ top_right }}
      {% if moves.c2 == 1 %}
      <img src="{% static "images/x.png" %}" alt = "x image"/>  
      {% elif moves.c2 == -1 %}
      <img src="{% static "images/o.png" %}" alt = "o image"/>  
      {% endif %}
    </div>
  {% if not win and moves.c2 != -1 %}</a>{% endif %}
  {% if not win and moves.c3 != -1 %}<a href='{{ url_list.3 }}'>{% endif %}
    <div id='center-left' style='position: absolute; top: 150px; left: 0px; width: 150px; height:150px;'>
    {{ center_left }}
      {% if moves.c3 == 1 %}
      <img src="{% static "images/x.png" %}" alt = "x image"/>  
      {% elif moves.c3 == -1 %}
      <img src="{% static "images/o.png" %}" alt = "o image"/>  
      {% endif %}
    </div>
  {% if not win and moves.c3 != -1 %}</a>{% endif %}
  {% if not win and moves.c4 != -1 %}<a href='{{ url_list.4 }}'>{% endif %}
    <div id='center-center' style='position: absolute; top: 150px; left: 150px; width: 150px; height:150px;'>
    {{ center_center }}
      {% if moves.c4 == 1 %}
      <img src="{% static "images/x.png" %}" alt = "x image"/>  
      {% elif moves.c4 == -1 %}
      <img src="{% static "images/o.png" %}" alt = "o image"/>  
      {% endif %}
    </div>
  {% if not win and moves.c4 != -1 %}</a>{% endif %}
  {% if not win and moves.c5 != -1 %}<a href='{{ url_list.5 }}'>{% endif %}
    <div id='center-right' style='position: absolute; top: 150px; left: 300px; width: 150px; height:150px;'>
    {{ center_right }}
      {% if moves.c5 == 1 %}
      <img src="{% static "images/x.png" %}" alt = "x image"/>  
      {% elif moves.c5 == -1 %}
      <img src="{% static "images/o.png" %}" alt = "o image"/>  
      {% endif %}
    </div>
  {% if not win and moves.c5 != -1 %}</a>{% endif %}
  {% if not win and moves.c6 != -1 %}<a href='{{ url_list.6 }}'>{% endif %}
    <div id='bottom-left' style='position: absolute; top: 300px; left: 0px; width: 150px; height:150px;'>
    {{ bottom_left }}
      {% if moves.c6 == 1 %}
      <img src="{% static "images/x.png" %}" alt = "x image"/>  
      {% elif moves.c6 == -1 %}
      <img src="{% static "images/o.png" %}" alt = "o image"/>  
      {% endif %}
    </div>
  {% if not win and moves.c6 != -1 %}</a>{% endif %}
  {% if not win and moves.c7 != -1 %}<a href='{{ url_list.7 }}'>{% endif %}
    <div id='bottom-center' style='position: absolute; top: 300px; left: 150px; width: 150px; height:150px;'>
    {{ bottom_center }}
      {% if moves.c7 == 1 %}
      <img src="{% static "images/x.png" %}" alt = "x image"/>  
      {% elif moves.c7 == -1 %}
      <img src="{% static "images/o.png" %}" alt = "o image"/>  
      {% endif %}
    </div>
  {% if not win and moves.c7 != -1 %}</a>{% endif %}
  {% if not win and moves.c8 != -1 %}<a href='{{ url_list.8 }}'>{% endif %}
    <div id='bottom-right' style='position: absolute; top: 300px; left: 300px; width: 150px; height:150px;'>
    {{ bottom_right }}
      {% if moves.c8 == 1 %}
      <img src="{% static "images/x.png" %}" alt = "x image"/>  
      {% elif moves.c8 == -1 %}
      <img src="{% static "images/o.png" %}" alt = "o image"/>  
      {% endif %}
    </div>
  {% if not win and moves.c8 != -1 %}</a>{% endif %}

  {% if who_goes_first %}
  <a href='{{ url_list.9 }}'>
    <div id='computer_first' style='position: absolute; font-size: 20px; font-family: "Comic Sans MS"; color: blue; top: 100px; left: 500px; width: 150px; height:150px;'>
      Want to let the computer go first?
    </div>
  </a>
  {% endif %}

  {% if win %}
  <a href='/'>
    <div id='computer_first' style='position: absolute; font-size: 45px; font-family: "Comic Sans MS"; color: pink; top: 500px; left: 250px; width: 150px; height:150px;'>
      Again!
    </div>
  </a>
  {% endif %}
</div>
